body
  background: repeat center / 198px 198px url('./../img/noise-bg.jpg')
  line-height: 1.4
  font-family: $montserrat
  font-size: 16px
  font-weight: 400
  color: $textBlack
  +sm
    font-size: 12px

.btn
  display: inline-block
  position: relative
  padding: 25px 32px
  font-family: $museo
  text-shadow: 0.5px 0.9px 1px rgba(26, 30, 29, 0.32)
  box-shadow: 4px 8px 0 -4px $darkGreen
  font-size: 18px
  font-weight: 900
  line-height: 1.9
  text-decoration: none
  text-align: center
  color: $white
  border-radius: 4px
  background-color: $mainGreen
  // &:hover
  //   margin-top: 4px
  //   // &:after
  //   //   transform: translateY(0)
  // &:after
  //   +coverdiv
  //   transform: translateY(4px)
  //   z-index: -1
  //   content: ''
  //   background-color: $darkGreen
  //   border-radius: 4px
  //   transition: transform $tr

.block
  &__header
    display: flex
    align-items: center
    margin-bottom: 1.5em
  &__title
    text-transform: uppercase
    font-family: $museo
    font-weight: 900
    line-height: 1.2
    color: $titleBlack
    &_small
      font-size: 17px
      line-height: 1.41
  &__image-wrapper
    position: relative
    display: inline-block
    +flex-size(123px)
    margin-right: 20px
  &__image
    +vcenter
    max-width: 100%
  .icon-decor
    font-size: 7.7em
    fill: $mainGreen
    fill-rule: evenodd
  &__descr
    font-size: 15px
    line-height: 1.6
    color: $textBlack