.title
  font-family: $museo
  font-size: 3.75em
  font-weight: 900
  font-style: normal
  font-stretch: normal
  line-height: 1
  letter-spacing: normal

.text-green
  color: $mainGreen

.text-blue
  color: $blue

.text-thin
  font-weight: 100

.text-bold
  font-weight: 700

.subtitle
  font-size: 22px
  font-weight: 300
  line-height: 1.27
  letter-spacing: normal
  text-align: left
  


.\- .text-style-1
  font-weight: bold