<div class="about">
  <div class="about__inner inner">
    <div class="about__content">
      <blockquote class="blockquote">
        <p>
          «Каждый способен сделать свою жизнь осознанной, добиться своих целей и
          стать счастливым»
        </p>
        <footer class="blockquote__author">
          Юлий <span class="text-green">Ляшенко</span>
        </footer>
      </blockquote>
      <p>
        С вами будет работать Юлий Ляшенко - мастер проработки подсознания, <nobr>психолог-практик,</nobr> выпускник международного института практической психологии, член Национальной Ассоциации Специалистов по Психосоматике и Восточноевропейской Ассоциации Гипнотерапевтов и клинических Психологов.
      </p>
      <p>
        Работаю не со следствиями, а с причинами. Главная цель - не просто облегчить состояние, а действительно избавить от проблемы, получить стойкий и ощутимый результат.  Каждый клиент для меня ценен и индивидуален, всегда работаю с полной отдачей.
      </p>
      <p>
        Понимаю, что к специалисту человек обращается тогда, когда нет собственных ресурсов для полноценного решения проблемы.
      </p>
      <p>
        Моя методика проработки направлена не только на работу здесь и сейчас - я обучаю техникам, которые вы сможете успешно применять всю жизнь. Объективные и измеримые изменения вы получите уже через 1–3 сеанса.
      </p>
      <div class="about__certificates">
        {% for item in range(1,4) %}
          <div class="about__certificate">
            <img src="./img/sertificate.jpg" alt="certificate">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
