<section class="advantages">
  <div class="advantages__inner inner">
    <h3 class="advantages__title title">
      Ощутите <span class="text-green">преимущества </span><br /><span
        class="text-blue"
        >онлайн-работы</span
      >
    </h3>
    <div class="advantages__descr text">
      <p>
        На моей практике не раз доказано, что консультации по видеосвязи (Skype,
        Viber, FaceTime) не уступают по эффективности очным встречам в кабинете.
        Работаем не только с чувствами и эмоциями, но и подсознанием. А оно
        невероятно гибко и мгновенно включается в работу независимо от места
        проведения консультации, от того проходит ли она по Скайпу или «вживую».
        Результат будет одинаковым. Плюс, это очень и очень удобно.
      </p>
      <p>
        Вам не нужно тратить время на поездки в кабинет или испытывать
        дискомфорт при смене привычной обстановки. Также можно работать в
        командировке, путешествии.
      </p>
    </div>
    <div class="advantages__subtitle inner-thin">
      <div class="text-green text text-bold">
        Не откладывайте решение важных проблем, когда работу над ними можно
        начать уже сегодня. Запишитесь на предварительную консультацию.
      </div>
    </div>
    <div class="advantages__cta">
      <a href="#" class="btn"
        ><span class="btn__inner"
          >Выбрать дату и время предварительной консультации</span
        >
      </a>
    </div>
  </div>
</section>
