<section class="book-section">
  <div class="book-section__inner inner">
    <div class="book-section__row row">
      <div class="book-section__image col-5">
        <img src="./img/book.jpg" alt="book.jpg">
      </div>
      <div class="book-section__text col-7">
        <h2 class="title-big">
          <span class="text-black text-green text-row">Книга </span><span class="text-row text-thin">обо всем</span>
        </h2>
        <div class="book__descr descr">
          Многие ответы на свои вопросы вы получите в книге, которую я предлагаю вам получить совершенно <span class="text-bold">бесплатно.</span>
        </div>
        <div class="book__cta">
          <a href="#" class="btn">
            <span class="btn__icon">
              {{ mixins.icon('download') }}
            </span>
            Скачать книгу (PDF)
          </a>
        </div>
      </div>
    </div>
  </div>
</section>