<section class="book-section">
  <div class="book-section__inner inner">
    <div class="book-section__row row">
      <div class="book-section__image col-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          width="600"
          height="400"
        >
          <defs>
            <filter id="dropshadow" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" rimitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
              <feOffset dx="10" dy="10" in="SourceAlpha" result="offset"/>
              <feGaussianBlur stdDeviation="5 5" in="offset" result="blur"/>
              <feFlood flood-color="#000" flood-opacity="0.91" result="flood"/>
              <feComposite in="flood" in2="blur" operator="in" result="composite"/>
              <feMerge result="merge">
                <feMergeNode in="composite" result="mergeNode"/>
                <feMergeNode in="SourceGraphic" result="mergeNode1"/>
              </feMerge>
            </filter>
            <!-- <filter id="dropshadow" x="0" y="0" width="200%" height="200%">
              <feOffset
                result="offsetResult"
                in="SourceAlpha"
                dx="10"
                dy="14"
              />
              <feGaussianBlur
                result="blurResult"
                in="offsetResult"
                stdDeviation="9"
              />
              <feBlend in="SourceGraphic" in2="blurResult" mode="normal" />
            </filter> -->
            <!-- <filter id="dropshadow" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feDropShadow stdDeviation="5 5" in="SourceGraphic" dx="10" dy="10" flood-color="#1F3646" flood-opacity="1" x="0%" y="0%" width="100%" height="100%" result="dropShadow"/>
            </filter> -->
            <!-- <filter id="displacement" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feDisplacementMap in="SourceGraphic" in2="SourceGraphic" scale="20" xChannelSelector="R" yChannelSelector="B" x="0%" y="0%" width="100%" height="100%" result="displacementMap"/>
            </filter>
            <filter id="turbulense">
              <feTurbulence type="fractalNoise" baseFrequency="0 0.15" numOctaves="1" result="warp" />
              <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="30" in="SourceGraphic" in2="warp" />
            </filter>
            <filter id="water-color" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feTurbulence type="fractalNoise" baseFrequency="0.05 0.05" numOctaves="5" seed="1" stitchTiles="stitch" result="turbulence"/>
                <feDiffuseLighting surfaceScale="0.5" diffuseConstant="3.2" lighting-color="#ffffff" in="turbulence" result="diffuseLighting">
                      <feDistantLight azimuth="150" elevation="16"/>
                  </feDiffuseLighting>
                <feTurbulence type="fractalNoise" baseFrequency="0.011 0.004" numOctaves="2" seed="3" stitchTiles="noStitch" result="turbulence1"/>
                <feColorMatrix type="saturate" values="3" in="turbulence1" result="colormatrix"/>
                <feColorMatrix type="matrix" values="2 0 0 0 0
              0 1.5 0 0 0
              0 0 2 0 0
              0 0 0 2 0" in="colormatrix" result="colormatrix1"/>
                <feBlend mode="multiply" in="diffuseLighting" in2="colormatrix1" result="blend"/>
                <feComposite in="blend" in2="SourceAlpha" operator="in" result="composite1"/>
              </filter>
              <filter id="ripple-filter">                  
                  <feImage x="0" y="0" width="4708" height="3072" result="rippleImage" xlink:href="./IMG/HERO.PNG" /> 
                  
                  <feDisplacementMap id="displacement-map"
                                     xChannelSelector="R" 
                                     yChannelSelector="G" 
                                     in="SourceGraphic" 
                                     in2="rippleImage"
                                     result="displacementMap"
                                     color-interpolation-filters="sRGB"
                                     scale="0" />
            
                  <feComposite operator="in" in2="rippleImage"></feComposite>
                </filter>     -->
          </defs>
        </svg>
        <img src="./img/book.jpg" alt="book.jpg" />
        <!-- <div class="book-section__image-shadow"></div> -->
      </div>
      <div class="book-section__text col-7">
        <h2 class="book-section__title title-big">
          <span class="text-black text-green text-row">Книга </span
          ><span class="text-row text-thin">обо всем</span>
        </h2>
        <div class="book-section__descr descr">
          Многие ответы на свои вопросы вы получите в книге, которую я предлагаю
          вам получить совершенно <span class="text-bold">бесплатно.</span>
        </div>
        <div class="book-section__cta">
          <a href="#" class="btn">
            <span class="btn__icon"> {{ mixins.icon('download') }} </span>
            Скачать книгу (PDF)
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
