<section class="hero">
  <div class="hero__inner inner">
    <div class="hero__header">
      <h1 class="hero__title title">
        <span class="text-thin">Решение </span><br />
        <span class="text-green">психологических </span><br />
        <span class="text-blue">проблем </span>
        <span class="text-thin">с 1 сеанса</span>
      </h1>
      <div class="hero__descr descr">
        <p data-animation="from-left">
          <span class="text-bold">Эффективная</span> работа с вашим
          подсознанием, индивидуальный подход к каждому клиенту
        </p>
        <p data-animation="from-left">
          Сеансы проходят по <span class="text-bold">онлайн-видеосвязи</span> и
          доступны из любого места
        </p>
      </div>
    </div>
    <div class="hero__features">
      <div class="row">
        {% for item in [ 'Результат <br />на всю жизнь', 'Комфортный формат
        <br />общения', 'Анонимность/конфиденциальность на всех этапах', 'Не
        растягиваю <br />количество сеансов' ] %}
        <div class="col-3 col-sm-12">
          {{ mixins.feature({ text: item, yes: true }) }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="hero__cta">
      <a href="/" class="btn">
        <span class="btn__inner"
          >Выбрать дату и время предварительной консультации</span
        >
      </a>
    </div>
  </div>
</section>
