{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props.list %}
		{% if loop.last %}
		<li class="breadcrumbs__item">
			<span>{{ item }}</span>
		</li>
		{% else %}
		<li class="breadcrumbs__item">
			<a href="#">{{ item }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
</label>
<!-- end input -->
{% endmacro %}

<!-- FEATURE -->
{% macro feature(item) %}
  <div class="feature{% if item.not %} feature_restriction{% endif %}">
    <div class="feature__icon">
      {% if item.yes %}
        {{ icon('check') }}
      {% endif %}
      {% if item.not %}
        {{ icon('times') }}
      {% endif %}
    </div>
    <div class="feature__descr{% if item.not %} feature__descr_bold{% endif %}">
      {{ item.text | safe }}
    </div>
  </div>
{% endmacro %}

{% macro block(props) %}
  <div class="block{% if props.moments %} block_moments{% endif %}">
    <div class="block__header">
      <div class="block__image-wrapper">
        {{ icon('decor') }}
        <img src="img/{{ props.image }}.png" alt="{{ props.image }}" class="block__image">
      </div>
      {% if props.number %}
        <span class="block__number">
          {{ props.number }}
          {% if props.line %}
            <svg class="block__line" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 270.5 53.5">
            <style type="text/css">
              .st0{fill:none;stroke:#34C399;}
            </style>
              <path class="st0 path1" d="M0.5,51.5c0,0,200-107,269-10"/>
              <path class="st0 path2" d="M260.5,36.4l9,5l-5-18"/>
            </svg>
          {% endif %}
        </span>
      {% endif %}
      {% if props.titleTop %}
        <h3 class="block__title block__title_small">
          {{ props.titleTop | safe }}
        </h3>
      {% endif %}
      {% if props.title %}
        <h3 class="block__title d-sm-block">
          {{ props.title | safe }}
        </h3>
      {% endif %}
    </div>
    <div class="block__body">
      {% if props.title %}
        <h3 class="block__title d-sm-none">
          {{ props.title | safe }}
        </h3>
      {% endif %}
      {% if props.subtitle %}
        <div class="block__subtitle">
          {{ props.subtitle }}
        </div>
      {% endif %}
      <div class="block__descr{% if props.descrSmall %} block__descr_small{% endif %}">
        {{ props.descr }}
      </div>
    </div>
  </div>
{% endmacro %}