<section class="positives">
  <div class="positives__inner inner">
    <h3 class="positives__title title">
      <span class="text-green">У вас будет</span> то, что раньше <br />
      <span class="text-blue">проходило</span> мимо
    </h3>
    <div class="positives__descr inner-thin">
      Я наблюдаю, как меняются жизни людей. И это ни с чем не сравнимо. В вашей жизни тоже появятся новые положительные моменты.
    </div>
    <div class="positives__list">
      <ul class="list">
        {% for item in [
          {
            title: 'Взаимоотношения <br>с родителями',
            descr: 'Появится взаимопонимание, родители будут слышать вас и станут терпимее, вы обретете мудрость и независимость.'
          },
          {
            title: 'Взаимоотношения <br>с детьми',
            descr: 'Начнете понимать мир ребенка, наладите связь, выработаете грамотную линию поведения без криков и чувства вины. Дети будут гармонично развиваться, следуя правильному и здоровому примеру.'
          },
          {
            title: 'Высокая <br>самооценка',
            descr: 'Будете твердо стоять на ногах, перестанете болезненно воспринимать критику.'
          },
          {
            title: 'Взаимоотношения <br>с супругом',
            descr: 'Реанимируете или завершите отношения, докажете супругу, что вы - здоровая и достойная личность.'
          },
          {
            title: 'Здоровый <br>эгоизм',
            descr: 'У вас появятся чувство собственной важности, уверенности в себе, энергия и время для полезных действий.'
          },
          {
            title: 'Жизнь, деньги <br>и здоровье',
            descr: 'Выработаете ощущение, что именно вы - капитан своей судьбы. Перестанете расходовать энергию на бесполезный стресс и в полной мере реализуете себя.'
          }
        ] %}
          <li class="list__item">
            <div class="list__image">
                {{ mixins.icon('decor') }}
                {{ mixins.icon('check') }}
            </div>
            <h5 class="list__title">
              {{ item.title | safe }}
            </h5>
            <div class="list__text">
              {{ item.descr }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
