{% set processes = [
	{
		image: 'consultation',
		title: 'Предварительная </br>консультация',
		subtitle: 'Выявление и обозначение проблемы.',
		descr: "Обязательная предварительная диагностика, в ходе которой мы выявляем и обозначаем проблему, после чего ставим цели работы с конкретными критериями результата.",
		descrSmall: true,
		number: 1,
		line: true
	},
	{
		image: 'study',
		title: 'Сеанс	</br>проработки',
		subtitle: 'Применение эффективных техник работы с подсознанием.',
		descr: "Вся работа и изменения происходят внутри Вас и выполняется на уровне подсознания, под моим контролем и поддержкой.",
		descrSmall: true,
		number: 2,
		line: true
	},
	{
		image: 'test',
		title: 'Тест </br>результата',
		subtitle: 'Осязаемые перемены в реальной жизни.',
		descr: "После каждой проработки тест результата с краткими отчетами об изменениях.",
		descrSmall: true,
		number: 3,
		line: true
	},
	{
		image: 'premium',
		title: 'Премия',
		subtitle: 'Вознаграждение за результат.',
		descr: "Многие клиенты, благодарят меня после проработок премией за результат, это является добровольным действием.",
		descrSmall: true,
		number: 4
	}
] %}
<section class="process">
	<div class="process__inner inner">
		<h3 class="process__title title">
			<span class="text-thin">Как все </span><span class="text-green">проходит</span>
		</h3>
		<div class="process__descr descr">
			Схема взаимодействия — проверенная, надежная и эффективная.
		</div>
		<div class="process__blocks row">
			{% for process in processes %}
				<div class="process__block col-3 col-md-6 col-xs-12">
					{{ mixins.block(process) }}
				</div>
			{% endfor %}
		</div>
	</div>
</section>