{% set blocks = [
  {
    image: 'communication',
    titleTop: 'Общение и </br>отношения',
    descr: "Проработка любых проблем, мешающих полноценному межличностному взаимодействию и нарушающих качество жизни: семейные неурядицы, страх общения с противоположным полом, боязнь осуждения, патологическая ревность, отсутствие уверенности, неумение отказывать и многое другое. 
    "
  },
  {
    image: 'self-recovery',
    titleTop: 'Восстановление </br>самоценности',
    descr: "Избавление от тревоги, чувства угнетенности, связанных с непринятием себя, неуверенностью, неумением отстаивать свою позицию. Проработка и устранение таких моментов, как желание всем угодить и понравиться, быть удобным."
  },
  {
    image: 'achievement',
    titleTop: 'Сфера </br>достижений',
    descr: "Учимся ставить правильные цели, прорабатываем такие проблемы, как прокрастинация, хроническая усталость, денежные барьеры, страх начать свое дело и стать успешным. Формируем правильное мышление и избавляемся от привычек, блокирующих финансовый поток."
  },
  {
    image: 'fears',
    titleTop: 'Страхи </br>и фобии',
    descr: "Проработаем панические атаки, депрессии, разочарование, стрессовые переедания, а также любые страхи: высоты, темноты, самолетов, животных и насекомых, замкнутых пространств, большого количества людей."
  },
  {
    image: 'clamps',
    titleTop: 'Телесные </br>зажимы',
    descr: "Проработаем различные негативные состояния, вызывающие дискомфорт и неприятные ощущения в теле: «ком в горле», «тяжесть в груди», «камень на сердце».
    "
  }
] %}

<section class="recovery">
  <div class="recovery__inner inner">
    <h2 class="recovery__title title">
        <span class="text-thin">Почти любой </span></br><span class="text-green">вопрос </span>решаем
     </h2>
     <div class="recovery__descr subtitle">
        Консультирую только взрослых людей, которые настроены на работу с собой и готовы разбираться в собственном внутреннем состоянии, хотят узнать себя с новой — лучшей стороны. 
     </div>
     <h4 class="recovery__subtitle">
        <span class="text-thin">С чем </span><span class="text-black">я помогу:</span>
     </h4>
    <div class="recovery__blocks row">
      {% for item in blocks %}
        <div class="recovery__block col-4" data-sal="slide-up" data-sal-delay="{{ loop.index * 200 }}">
          {{ mixins.block(item) }}
        </div>
      {% endfor %}
      <div class="recovery__block recovery__block_card col-4" data-sal="fade" data-sal-delay="700">
        <div class="card-danger">
          <h3 class="card-danger__title">
            <span class="text-red text-black">Я не работаю, </span><span class="text-light">если клиент:</span>
          </h3>
          <ol class="card-danger__list">
            {% for item in [
              "Не настроен и не желает взаимодействовать.",
              "Не доверяет мне и не верит в результат.",
              "Обращается с проблемой, по которой наблюдается у врача.",
              "Перепоручает оплату моих услуг кому-то другому или берет в долг.",
              "Также противопоказаниями к работе являются не вылеченные травмы и переломы, острые хронические заболевания, эписиндромы, беременность."
            ] %}
              <li>{{ item }}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
    <div class="recovery__cta">
      <a href="#" class="btn">Выбрать дату и время предварительной консультации</a>
    </div>
  </div>
</section>