<section class="recovery">
  <div class="recovery__inner inner">
    {% set blocks = [
      {
        image: 'communication',
        titleTop: 'Общение и </br>отношения',
        descr: "Проработка любых проблем, мешающих полноценному межличностному взаимодействию и нарушающих качество жизни: семейные неурядицы, страх общения с противоположным полом, боязнь осуждения, патологическая ревность, отсутствие уверенности, неумение отказывать и многое другое. 
        "
      }
    ] %}
    {% for item in blocks %}
      {{ mixins.block(item) }}
    {% endfor %}
  </div>
</section>