<section class="reviews">
  <div class="reviews__inner inner">
    <div class="reviews__content">
      <h3 class="title reviews__title">
        <span class="text-thin">Про </span>
        <span class="text-green">отзывы</span>
      </h3>
      <div class="reviews__descr">
        <p>
          Я не публикую отзывы и не афиширую тех, с кем сотрудничаю. Считаю
          лишним просить человека оставить или опубликовать мнение о моей
          работе.
        </p>
        <p>
          Прежде всего мне важно помочь клиентам обрести себя, и я не буду
          использовать результат совместной работы в собственных целях. Лучше
          отзыва в интернете - ваша устная и искренняя рекомендация меня как
          специалиста.
        </p>
      </div>
      <div class="reviews__cta">
        <a href="#" class="btn">
          <span class="btn__inner">
            Выбрать дату и время предварительной консультации
        </a>
      </div>
    </div>
  </div>
</section>
