<section class="why">
  <div class="why__inner inner">
    <div class="why__content row">
      <div class="col-4 d-xs-none">
        <img src="img/square.png" alt="why">
      </div>
      <div class="col-8 col-xs-12">
        <h3 class="why__title title">
          <span class="text-thin"
            >Почему работа <br />
            с подсознанием <br
          /></span>
          <span class="text-bright-green">эффективна?</span>
        </h3>
        <div class="why__text text">
          <p>
            Человек может читать книги, смотреть передачи по психологии, все
            понимать и осознавать. Но в реальной жизни не сможет применить эти
            знания, поскольку перемен на подсознательном уровне не произошло.
            Истинная задача специалиста - перепрограммировать, перепрошить
            чувства. Любая проблема приходит через «голову», поэтому и уйти
            должна тем же способом.
          </p>
          <p>
            На сеансах проработки мы высвобождаем информацию, записанную в
            травмирующих событиях. И записываем новые - здоровые и
            способствующие гармоничной жизни выводы.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
