.about
  margin-top: -30px
  height: 70vw
  min-height: 900px
  +cover
  background-image: url(./../img/about-bg.png)
  display: flex
  align-items: center
  +sm
    background-position: 100% 0
  &__content
    width: 66.666%
    margin-left: 33.333%
    font-weight: 300
    line-height: 1.75
    color: $white
    +sm
      width: 100%
      margin-left: 0
    .blockquote,
    & > p
      margin-bottom: 36px
      +lg
        margin-bottom: 24px
      +md
        margin-bottom: 8px
  &__certificates
    display: flex
    align-items: center
    +sm
      display: none
  &__certificate
    &:not(:last-child)
      margin-right: 12px