.hero
  background-image: url(./../img/hero.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: 100% 0
  color: $titleWhite
  min-height: 60.57vw
  +lg
    background-position: 50% 0
  +sm
    background-position: 60% 0
    min-height: inherit
  &__inner
    position: relative
  &__square
    position: absolute
    top: 5vw
    transform: translateY(-50%)
    left: 15px
    +md
      display: none
    img
      width: 60px
  &__header
    padding-top: 10vw
    margin-bottom: 70px
    width: 58.333%
    +md
      margin-bottom: 40px
  &__title
    margin-bottom: 30px
    span
      display: inline-block
  &__descr
    padding-right: 100px
    +lg
      padding-right: 0
    p:not(:last-child)
      margin-bottom: 26px
  &__features
    margin-bottom: 40px
    .feature
      +sm
        margin-bottom: 10px
  &__cta
    padding-bottom: 280px
    text-align: center
    +md
      padding-bottom: 140px

.feature
  text-align: center
  +sm
    display: flex
    text-align: left
  +hover
    .feature__icon:before
      transform: scaleX(2)
    .feature__icon:after
      transform: scaleY(2)
  &__icon
    display: inline-flex
    justify-content: center
    align-items: center
    position: relative
    height: 50px
    width: 50px
    margin-bottom: 32px
    transform: rotate(45deg)
    overflow: hidden
    +md
      width: 40px
      height: 40px
    +sm
      margin-bottom: 0
      +flex-size(14px)
      height: auto
      transform: none
    &:before,&:after
      content: ' '
      position: absolute
      border-color: $white
      border-width: 1px
      transition: transform $tr
      +sm
        display: none
      .feature_restriction &
        border-color: #b2c1cb
    &:before
      width: 60%
      height: 100%
      border-top-style: solid
      border-bottom-style: solid
    &:after
      height: 60%
      width: 100%
      border-left-style: solid
      border-right-style: solid
    [class*='icon-']
      transform: rotate(-45deg)
      +sm
        transform: none
    .icon-check
      color: $mainGreen
      font-size: 1.125em
    .icon-times
      color: $coral
      font-size: 1.25em
  &__descr
    font-family: Montserrat
    font-size: 1.125em
    font-weight: 300
    line-height: 1.33
    +sm
      padding-left: 10px
      br
        display: none
    &_bold
      font-family: $museo
      text-transform: uppercase
      font-weight: 900
