.positives
  height: 68.75vw
  display: flex
  align-items: center
  +cover
  background-image: url(./../img/promises.png)
  color: $white
  text-align: center
  &__descr
    font-size: 20px
    font-weight: 300
    line-height: 1.4
