.icon-arrow {
  width: 5.06em;
  height: 1em;
  fill: currentColor;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-decor {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-times {
  width: 0.69em;
  height: 1em;
  fill: currentColor;
}
